<div class="container app">
    <div class="row">
        <div class="col-sm-8">
            <h1>Angular CRUD</h1>
        </div>
        <div class="col-sm-4">
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close">
                    &times;
                </a> mensaje aqui
            </div>
        </div>
    </div>
    <div class="row">
        <!-- CREATE FORM -->
        <div class="col-sm-8">
            <h2>Crear Usuario:</h2>
            <form class="form-horizontal mt-3">
                <div class="form-group">
                    <div class="row">
                        <label for="name" class="control-label col-sm-2 text-right">
                            <strong>Nombre</strong> 
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Introduzca el nombre">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="name" class="control-label col-sm-2 text-right">
                            <strong>Apellido</strong> 
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastname" placeholder="Introduzca el apellido">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="name" class="control-label col-sm-2 text-right">
                            <strong>Email</strong> 
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mail" placeholder="Introduzca un correo valido">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="name" class="control-label col-sm-2 text-right">
                            <strong>N° Telefono</strong> 
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phone" placeholder="Introduzca un numero de telefono">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button type="" class="btn btn-success">
                            <i class="fas fa-database fa-2x"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h2>Leer Usuarios:</h2>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="btn btn-info">
                                <i class="fas fa-user-edit"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger">
                                <i class="fas fa-minus-circle"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-5">
            <h2>Actualizar Usuario:</h2>
            <form class="form-horizontal mt-3">
                <div class="form-group">
                    <div class="row">
                        <label for="name" class="control-label col-sm-2">
                            <strong>Nombre</strong> 
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Introduzca el nombre">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="name" class="control-label col-sm-2 text-right">
                            <strong>Apellido</strong> 
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastname" placeholder="Introduzca el apellido">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="name" class="control-label col-sm-2 text-right">
                            <strong>Email</strong> 
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mail" placeholder="Introduzca un correo valido">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="name" class="control-label col-sm-2 text-right">
                            <strong>N° Telefono</strong> 
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phone" placeholder="Introduzca un numero de telefono">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button type="" class="btn btn-success">
                            <i class="fas fa-database fa-2x"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>