<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-5">Crud en Angular + Spring de Java + MySQL - Servicio Web</h1>
        <p class="lead">Proyecto para la aplicación FrontEnd es Desarrollado en Angular en su versión 10, y el código es editado en el Editor Visual Studio Code.
        </p>
        <hr>
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary"><a href="https://www.youtube.com/watch?v=O13X14TGtm8&t=253s"><strong>Crud en Angular + Spring de Java + MySQL - Servicio Web - Parte 01</strong></a></li>
            <li class="list-group-item list-group-item-secondary"><a href="https://www.youtube.com/watch?v=xnTwU-ZgAqQ"><strong>Crud en Angular + Spring de Java + MySQL - Servicio Web - Parte 02</strong></a></li>
            <li class="list-group-item list-group-item-secondary"><a href="https://www.youtube.com/watch?v=-nzB6HIiGqQ"><strong>Crud en Angular + Spring de Java + MySQL - Servicio Web - Parte 03</strong></a></li>
            <li class="list-group-item list-group-item-secondary"><a href="https://www.youtube.com/watch?v=BU_krBYIAGQ"><strong>Crud en Angular + Spring de Java + MySQL - Servicio Web - Parte 04</strong></a></li>
        </ul>
    </div>
</div>